---
layout: archive
---
<h2 style="text-align: center;">&nbsp;</h2>
<p style="text-align: center;"><em>안녕하세요. 백엔드 개발자 이승욱입니다.</em></p>
<p>&nbsp;</p>

<h2><strong>Skills</strong></h2>
<hr />
<ul>
    <li>
        <strong>Language<br>
        - Java<br>
        - Kotlin<br>
        - Python
        </strong>
    </li>
</ul>
<p>&nbsp;</p>

<ul>
    <li>
        <strong>Back-End<br>
        - Spring MVC<br>
        - JPA(Hibernate), Spring Data JPA<br>
        - Query DSL<br>
        
        </strong>
    </li>
</ul>
<p>&nbsp;</p>

<ul>
    <li>
        <strong>DevOps<br>
        - AWS(EC2, RDS, S3)<br>
        - Linux(Ubuntu, CentOS)<br>
        - Docker<br>
        - GitHub Actions(CI / CD)
        </strong>
    </li>
</ul>
<p>&nbsp;</p>

<ul>
    <li>
        <strong>Database<br>
        - Redis<br>
        - MySQL<br>
        - PostgreSQL<br>
        - Oracle<br>
    </strong>
</li>
</ul>
<p>&nbsp;</p>

<ul>
    <li><strong>Tool<br>
        - Spring Boot, IntelliJ, Git, GitHub, Visual Studio Code, Android Studio, Eclipse</strong></li>
</ul>
<p>&nbsp;</p>

<h2>Projects</h2>
<hr />
<ul>
    <li>
        <strong>receipt2recipe(Android Native Application)<br>
        - Back-End, DevOps 역할<br>
        -> <a href="https://re-bugs.github.io/categories/#receipt2recipe" alt="개발 기록">development history</a> <br>
        -> <a href="https://github.com/Re-Bugs/receipt2recipe" target="_blank" alt="깃허브로 이동">GitHub Link</a>
        </strong>
    </li>
    <br>
    <li>
        <strong>약속(藥束)(Android Native Application) - 제작중<br>
        - Back-End, DevOps 역할
        </strong>
    </li>
    <br>
    <li>
        <strong>당당케어(Cross-Platform Application) - 제작중<br>
        - Back-End, DevOps 역할
        </strong>
    </li>
</ul>
<p>&nbsp;</p>

<h2>Experience</h2>
<hr />
<ul>
    <li><strong>2024 - KNU CSD LAB</strong></li>
</ul>
<p>&nbsp;</p>
<ul>
    <li><strong>2023 - 교내 코딩 동아리 임원</strong></li>
</ul>
<p>&nbsp;</p>
<ul>
    <li><strong>2022 - KNU SSR LAB</strong></li>
</ul>
<p>&nbsp;</p>