---
layout: archive
---
<h2 style="text-align: center;">&nbsp;</h2>
<p style="text-align: center;"><em>안녕하세요. 백엔드 개발자 이승욱입니다.</em></p>
<p>&nbsp;</p>

<h2><strong>Skills</strong></h2>
<hr />
<ul>
    <li>
        <strong>Language<br>
        - Java<br>
        - Kotlin<br>
        - Python
        </strong>
    </li>
</ul>
<p>&nbsp;</p>
<ul>
    <li>
        <strong>Backend<br>
        - Spring(Spring Boot)<br>
        - Spring MVC<br>
        - JPA(Hibernate), Spring Data JPA/Redis<br>
        - Query DSL
        </strong>
    </li>
</ul>
<p>&nbsp;</p>
<ul>
    <li>
        <strong>DevOps<br>
        - AWS(EC2, RDS, S3)<br>
        - Linux(Ubuntu, CentOS)
        </strong>
    </li>
</ul>
<p>&nbsp;</p>
<ul>
    <li>
        <strong>Database<br>
        - MySQL<br>
        - Maria DB<br>
        - Oracle<br>
    </strong>
</li>
</ul>
<p>&nbsp;</p>
<ul>
    <li><strong>Tool<br>
        - Git, GitHub, IntelliJ, Eclipse, Visual Studio Code</strong></li>
</ul>
<p>&nbsp;</p>

<h2>Projects</h2>
<hr />
<ul>
    <li>
        <strong>receipt2recipe(Android Native Application)<br>
        - GCP(Google Cloud Platform) Vision API를 이용하여 영수증 정보로 레시피 추천 <br>
        - Back-End, DevOps 역할
        </strong>
    </li>
</ul>
<p>&nbsp;</p>

<h2>Experience</h2>
<hr />
<ul>
    <li><strong>2024 - KNU CSD(Circuit and System Design) LAB - 이제훈 교수 연구실</strong></li>
</ul>
<p>&nbsp;</p>
<ul>
    <li><strong>2023 - 교내 코딩 동아리 임원</strong></li>
</ul>
<p>&nbsp;</p>
<ul>
    <li><strong>2022 - KNU SSRL(Storage System Research Lab) - 권세진 교수 연구실</strong></li>
</ul>
<p>&nbsp;</p>